language: bash
dist: xenial

env:
  global:
    - LC_ALL: C.UTF-8
    - LANG: C.UTF-8
    - SNAPCRAFT_ENABLE_SILENT_REPORT: y
    - SNAPCRAFT_ENABLE_DEVELOPER_DEBUG: y

addons:
  snaps:
    - name: snapcraft
      channel: stable
      classic: true
    - name: http
    - name: transfer
    - name: lxd
      channel: stable

script:
  - sudo apt update
  - sudo /snap/bin/lxd.migrate -yes
  - sudo /snap/bin/lxd waitready
  - sudo /snap/bin/lxd init --auto
  - mkdir -p "$TRAVIS_BUILD_DIR/snaps-cache"
  - snapcraft --use-lxd